@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Jaldi:wght@400;700&family=Yantramanav&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Jaldi&family=Yantramanav&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a, .heroMsg h1, .heroMsg h4,.buttonBox, main section {
    text-align: center;
}
#background{
    height: 725px;
    background-color: #5ABCB9;
}
header{
    background-color: #399E5A;
}
body{
    /*background-color: #399E5A;*/
    font-family: 'Jaldi', 'Verdana', 'sans-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.riverCard .campingCard .rapidsCard {
    margin: 200px 0;}
.cardImg {
    border: 10px solid #63E2C6;
}
p {
    font-family: 'Jaldi', 'Verdana', 'sans-serif';
}
h1, h2, h3, h4 {
    font-family: 'Alatsi', 'Tahoma', 'sans-serif';
}
h2 {
    margin: 0;
}
nav a {
    background-color: #399E5A;
    color: black;
    text-decoration: none;
    padding: 35px;

}
nav a:hover{
    background-color: #5ABCB9;
    color: #6EF9F5;
}
.msg{
    background-color: #399E5A;
    color: black;
    line-height: 1.5em;
    padding: 35px;
}
.msg p {
    font-family: 'Jaldi', 'Verdana', 'sans-serif';
    font-size: 0.8em;
    padding-bottom: 15px;
}
.book, .join{
    background-color: #399E5A;
    color: black;
    text-decoration: none;
    font-family: 'Alatsi', 'Tahoma', 'sans-serif';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #5ABCB9;
    color: #6EF9F5;
}
footer{
    background-color: #399E5A;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    background-color: #5ABCB9;
    color: #6EF9F5;
}
footer .social img {
    padding-top: 15px;
}
.homeTitle {
    color: black;
    font-family: 'Alatsi', 'Tahoma', 'sans-serif';
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: black;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.heroImg {
 width: 100%;
}
#logoLink {
    padding-top: 5px;
}